$background: #09526b;
$header: #022C3B ;
$border: #cdebf4 ;
$green: #A7BA45 ;
$accent: #D1DE36 ;
$text: #767777 ;

@import "partials/bands-main";
@import "partials/admin-main";
@import "partials/leaderboard";

body {
  font-family: 'Lato', sans-serif;
  background-color: $background;
  color:white
}

a button {
  background: $accent;
  color: $green;
  font-size: 2vmax;;
  &:hover {
    background: $background;
    color: $accent;
    border: 1px solid $accent;
    transition: ease .25s;
  }
}

 .btn {
  background: $accent;
  color: $green;
  &:hover {
    background: $background;
    color: $accent;
    border: 1px solid $accent;
    transition: ease .25s;
  }
}
