.bandMainWrapper {
  /* background-color: $background; */
  color: #767777;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/crowd-background.jpeg) no-repeat no-repeat fixed;
  background-size: cover;
  width: 100%; }

.panel .panel-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #022C3B;
  border: 1px solid #D1DE36;
  width: auto; }
  .panel .panel-header .bandMainHeader {
    font-size: 3vmax;
    width: 80%;
    height: auto;
    text-align: center;
    color: #A7BA45;
    margin: 1%; }
    .panel .panel-header .bandMainHeader img {
      width: 70px;
      height: 70px; }

.admin-article {
  padding: 20px;
  border: 1px solid #D1DE36;
  background-color: #022C3B;
  border-radius: 5px;
  width: 90%;
  margin: 1%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center; }

.left-side {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  margin-right: 30px; }

.middle {
  display: inline-block;
  width: 50%;
  vertical-align: middle; }

.right-side {
  display: inline-block;
  width: 20%;
  text-align: right; }

.band-image {
  height: 100%;
  width: 100%;
  margin-right: 30px; }

.center-article {
  text-align: center; }

.title {
  text-align: center;
  font-weight: 100;
  font-size: 3vmax;
  color: #D1DE36;
  margin-bottom: 20px; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #09526b; }

.nav-tabs > li > a {
  color: #D1DE36; }

.editBand {
  color: #09526b; }

.nav-tabs > li > a:hover {
  color: #09526b; }

.nav-tabs {
  font-weight: 300;
  font-size: 1.3em; }

.loginButtonWrapper {
  float: right;
  margin: 5px; }

.admin-article {
  padding: 20px;
  border: 1px solid #D1DE36;
  background-color: #022C3B;
  border-radius: 5px;
  width: 90%;
  margin: 1%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center; }

.left-side {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  margin-right: 30px; }

.middle {
  display: inline-block;
  width: 50%;
  vertical-align: middle; }

.right-side {
  display: inline-block;
  width: 20%;
  text-align: right; }

.band-image {
  height: 100%;
  width: 100%;
  margin-right: 30px; }

.center-article {
  text-align: center; }

.title {
  text-align: center;
  font-weight: 100;
  font-size: 3vmax;
  color: #D1DE36;
  margin-bottom: 20px; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #09526b; }

.nav-tabs > li > a {
  color: #D1DE36; }

.editBand {
  color: #09526b; }

.nav-tabs > li > a:hover {
  color: #09526b; }

.nav-tabs {
  font-weight: 300;
  font-size: 1.3em; }

.padding {
  padding-top: 2.5%; }

.band-name {
  font-size: 2.5vmax; }

.panel-default .panel-heading input, .panel-collapse .panel-body input {
  width: 100%; }

body {
  font-family: 'Lato', sans-serif;
  background-color: #09526b;
  color: white; }

a button {
  background: #D1DE36;
  color: #A7BA45;
  font-size: 2vmax; }
  a button:hover {
    background: #09526b;
    color: #D1DE36;
    border: 1px solid #D1DE36;
    transition: ease .25s; }

.btn {
  background: #D1DE36;
  color: #A7BA45; }
  .btn:hover {
    background: #09526b;
    color: #D1DE36;
    border: 1px solid #D1DE36;
    transition: ease .25s; }

.panel-group .panel {
  background-color: #A7BA45; }

.panel-default .panel-heading {
  background-color: #D1DE36;
  color: #A7BA45;
  text-align: center; }

.panel-default .panel-heading, .panel-collapse .panel-body {
  text-align: center; }
  .panel-default .panel-heading input, .panel-collapse .panel-body input {
    background-color: #2779AA;
    color: #767777;
    margin: .5%;
    text-align: center;
    width: 100%; }

.input-form {
  font-size: 20px;
  color: #09526b; }

.submit-button {
  margin-top: 7px;
  color: #09526b; }

.editBand {
  margin-top: 20px; }

.input-text {
  color: black; }

/*# sourceMappingURL=styles.css.map */
