<article class="admin-article">
  <div class="left-side">
  <h1>{{band.name}}</h1>
  <h3>{{band.genre}}</h3>
  <span>{{band.members}}</span><br>
  <span><a href="{{band.website}}">Website</a></span><br>
  <span>{{band.hometown}}</span><br><br>
  <a href="/admin/:{{band.id}}" ng-click="editBand()"><button class="editBand">Edit</button></a>

</div>

<div class="right-side">
  <img class="band-image" ng-src="{{band.picture}}" alt="">

</div>

</article>
<!-- <article class="admin-article">
  <div class="left-side">
  <h1>Foo Fighters</h1>
  <h3>Rock</h3>
  <span>Dave Grohl, Taylor Hawkins, etc.</span><br>
  <span><a href="www.foofighters.com">Website</a></span><br>
  <span>Richmond, VA</span><br><br>
  <button class="editBand">Edit</button>
</div>

<div class="right-side">
  <img class="band-image" src="http://www.mtv.com/crop-images/2013/09/11/Foo%20Fighters%20officail.jpg" alt="">

</div>

</article>
<article class="admin-article">
  <div class="left-side">
  <h1>Foo Fighters</h1>
  <h3>Rock</h3>
  <span>Dave Grohl, Taylor Hawkins, etc.</span><br>
  <span><a href="www.foofighters.com">Website</a></span><br>
  <span>Richmond, VA</span><br><br>
  <button class="editBand">Edit</button>

</div>

<div class="right-side">
  <img class="band-image" src="http://www.mtv.com/crop-images/2013/09/11/Foo%20Fighters%20officail.jpg" alt="">

</div>

</article>
<article class="admin-article">
  <div class="left-side">
  <h1>Foo Fighters</h1>
  <h3>Rock</h3>
  <span>Dave Grohl, Taylor Hawkins, etc.</span><br>
  <span><a href="www.foofighters.com">Website</a></span><br>
  <span>Richmond, VA</span><br><br>
  <button class="editBand">Edit</button>

</div>

<div class="right-side">
  <img class="band-image" src="http://www.mtv.com/crop-images/2013/09/11/Foo%20Fighters%20officail.jpg" alt="">

</div>

</article>
<article class="admin-article">
  <div class="left-side">
  <h1>Foo Fighters</h1>
  <h3>Rock</h3>
  <span>Dave Grohl, Taylor Hawkins, etc.</span><br>
  <span><a href="www.foofighters.com">Website</a></span><br>
  <span>Richmond, VA</span><br><br>
  <button class="editBand">Edit</button>
</div>

<div class="right-side">
  <img class="band-image" src="http://www.mtv.com/crop-images/2013/09/11/Foo%20Fighters%20officail.jpg" alt="">

</div>

</article>
 -->
