<article class="admin-article" data-id="{{band.id}}">
  <div class="left-side">
  <h1>{{band.name}}</h1>
  <h3>{{band.genre}}</h3>
  <span>{{band.member_names}}</span><br>
  <span><a href="{{band.website}}">Website</a></span><br>
  <span>{{band.hometown}}</span><br><br>

  <a href="#/admin/{{band.id}}" ng-click="editBand()"><button class="editBand" ng-if="!isAuth">Edit</button></a>
  <accordion ng-if="isAuth">
    <accordion-group is-open="status.open">
     <accordion-heading>
      Vote <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
     </accordion-heading>
     <form class="" action="">
       <input type="text" class="vote" ng-model="score" placeholder="1-10">
       <button type="button" name="name" value="Submit"  ng-click="voteFor()">Submit</button>
     </form>
  </accordion-group>

</accordion>
</div>
<div class="right-side">
  <img class="band-image" ng-src="{{band.picture}}" alt="">
</div>
</article>
