<section class="panel bandMainWrapper">
  <div class="panel panel-header">
    <h3 class="bandMainHeader"><img src="images/ballot-icon.png" alt="">Battle Ballot</h3>
    <a href="#/admin" ng-click="authenticate()" ng-model="isAuth"><button class="btn">Login</button></a>
  </div>
  <div class="leaderboardHeader">
    <h1>Leaderboard</h1>
  </div>
  <article class="admin-article" data-id="{{band.id}}" ng-repeat="band in bands | orderBy: '-total_score'">
    <div class="left-side">
      <h1>{{band.total_score}}</h1>
    </div>
    <div class="middle">
    <h1 class="band-name">{{band.name}}</h1>
  </div>
  <div class="right-side-user padding">
    <a href="/admin/:{{band.id}}" ng-click="editBand()"><button class="editBand" ng-if="isAuth">Edit</button></a>
    <accordion ng-if="!isAuth">
    <accordion-group is-open="status.open">
       <accordion-heading>
        Vote <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
       </accordion-heading>
    <input type="text" class="vote" ng-model="score" placeholder="1-10">
    <input type="button" name="name" value="Submit"  ng-click="vote(score, band.id)">
  </accordion-group>
</accordion>
  </article>
