.bandMainWrapper {
  /* background-color: $background; */
  color: $text;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/crowd-background.jpeg) no-repeat no-repeat fixed;
  background-size: cover;
  width: 100%;
}

.panel {
  .panel-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: $header;
    border: 1px solid $accent;
    width: auto;
    .bandMainHeader {
      font-size: 3vmax;
      width: 90%;
      height: auto;
      text-align: center;
      color: $green;
      margin: 1%;
      img {
        width: 70px;
        height: 70px;
      }
    }
  }
}
