
  <ul class="nav nav-tabs nav-color">
    <li role="presentation"><a href="#/admin">Bands</a></li>
    <li role="presentation"><a href="#/admin/add-band">Add Band</a></li>
    <li role="presentation"><a href="#/">User View</a></li>
      </ul>



      <h1 class="title">Edit Band</h1>
      <article class="center-article" data-id="{{band.id}}">


      <input class="input-text" type="text" ng-model="band.name"  size="70"><br>
        <input class="input-text" type="text" ng-model="band.genre" size="70"><br>
        <input class="input-text" type="text" ng-model="band.members" size="70"><br>
        <input class="input-text" type="text" ng-model="band.website" size="70"><br>
        <input class="input-text" type="text" ng-model="band.hometown" size="70"><br>
        <input  class="input-text" type="text" ng-model="band.picture"  size="70"><br>
        <a href="#/admin/" ng-click="updateBand(band.id, band)"><button class="editBand">Update</button></a>
        <a href="#/admin/" ng-click="deleteBand(band.id)"><button class="editBand">Delete</button></a>
      </article>
